body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.carrito-container {
    background: #0d0f14;
    color: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
}

#listaCarrito div {
    background: white;
    color: #0d0f14;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #ff7b00;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.comprar {
    background: #0d0f14;
    border: 2px solid #ff7b00;
}
